@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@200;400;500;600&family=Bebas+Neue&family=DM+Sans:wght@300;400;500;600;700&family=Dancing+Script:wght@400;500;700&family=Dela+Gothic+One&family=Josefin+Sans:wght@600&family=Lobster&family=Oooh+Baby&family=Overpass:wght@400;500&family=PT+Sans+Caption&family=Righteous&family=Roboto:wght@400;500;700;900&display=swap');

.wrapper{
    width: 100%;
    height: 100%;;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
.menu{
    min-height: 100px;
    max-height:120px ;
    font-size: 16px;
    display: flex;
    justify-content: flex-end;
    height: 10%;
    width: 100%;
    margin-top:2%;
}

.logo{
    position: relative;
    top:25%;
    left: -2%;
    height: 50px;
}
/* 
.logo{
    position: fixed;
    top:6%;
    left: 3%;
    height: 50px;
} */

.hr{
    opacity: 0.8;
    width: 35vw;
    position: relative;
    left:2%;
    z-index: 1;
    top:50%;
    height: 2px;
}
.menu ul{
    min-height: 100px;
    min-width: 800px;
    max-height: 110px;
    font-family: 'Barlow Condensed', sans-serif;;
    display: flex;
    gap:9%;
    justify-content: center;
    align-items: center;
    list-style: none;
    height: 100%;
    width: 55%;
    opacity: 1;
    background-image: url('../../../public/img/background/menu/blur.svg');
    background-color: rgba(208, 214, 249,0.07);
    backdrop-filter: blur(20px);
    margin:0;
}

.menu ul li{
    z-index: 1;
    height: 100%;
    display: flex;
    align-items: center;
    gap:1em;
    margin-right: 1em;
    backdrop-filter: blur(0px)!important;
}

.menu a{
    font-size: 1.2em;
    font-weight: 200;
    text-decoration: none;
    color:white;
}

.menu span{
    font-size: 1.2em;
    color:white;
    font-weight: 600;
}

