@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@200;400;500;600&family=Barlow:wght@200;300;400&family=Bellefair&display=swap');

.wrapper{
    min-height: 900px;
    font-size: 16px;
    display: flex;
    flex-direction: column;
    color:white;
    align-items: center;
    height: 100vh;
    width: 100vw;
    background-image: url('../../public/img/background/crew/background.svg');
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
  }

  .wrapper h2{
    max-width: 1170px;
    font-size:  1.75em;
    font-weight: 200;
    width: 80%;
    margin: 3.5em 0 1.5em 0;
    font-family: 'Barlow Condensed', sans-serif;
    letter-spacing: 0.28em;
  }

  .wrapper h2 span{
    font-weight: 500;
    opacity: 0.2;
  }
  
  .carousel{
    max-width: 1440px;
    display: flex;
    font-size: 16px;
    width: 100%;
    height: 65%;
    overflow: visible;
  }
  .dotList{
    margin-left:11vw;
    display: flex;
    justify-content: flex-start;
    margin-left: 10vw;
    margin-bottom: 4em;;
  }
  .dotList li{
    margin: 0.8em;
  }

  .dotList li button {
    border: none;
    height: 1.2em;
    width: 1.2em;
  }

  .crewMember{
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
  }

  .crewMember img{
    position: absolute;
    right: 10%;
  }

  .memberContent{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 10vw;
    margin-bottom:5em;
  }
  .crewMember h1{
    font-size: 3.5em;
    font-family: 'Bellefair', serif;
    font-weight: 200;
    margin:0;

  }
 .crewMember h3{
    font-size: 2em;
    font-family: 'Bellefair', serif;
    font-weight: 100;
    margin:0;
    opacity: 0.5;
 }

 .crewMember p{
  font-size: 1.2em;
  font-family: 'Barlow', sans-serif;
  color:#D0D6F9;
  font-weight: 300;
  line-height: 1.8em;
  letter-spacing: 0.028em;
  width: 26em;
 }


  
 
  
  
  
 
  
  
  