@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@200;400;500;600&family=Barlow:wght@200;300;400&family=Bellefair&display=swap');

.wrapper{
    font-size: 16px;
    display: flex;
    flex-direction: column;
    color:white;
    align-items: center;
    height: 100vh;
    width: 100vw;
    background-image: url('../../public/img/background/destination/background.svg');
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
  }

  .wrapper h2{
    max-width: 1170px;
    font-size:  1.75em;
    font-weight: 200;
    width: 80%;
    margin: 3.5em 0 1.5em 0;
    font-family: 'Barlow Condensed', sans-serif;
    letter-spacing: 0.28em;
  }

  .wrapper h2 span{
    font-weight: 500;
    opacity: 0.2;
  }

  .content{
    max-width: 1500px;
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    
  }

  .moonImg{
    height: 100%;
    margin-top:10em;
    margin-left: 5em;
  }


  .mainContent{
    height: 100%;
    max-width: 485px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    width: 35%;
  }

  .mainContent ul{

    height: auto;
    font-family: 'Barlow Condensed', sans-serif;
    font-size: 1em;
    font-weight: 200;
    letter-spacing: 0.28em;
    display: flex;
    list-style: none;
    gap:2em;
    padding:0;
    justify-content: flex-start;
  }

  .mainContent ul li{
    text-align: center;
    padding-bottom: 1em;
  }

  .mainContent ul li:hover{
    border-bottom: 3px solid #616476;
    cursor: pointer;
}
  .mainContent h1{
    font-size: 6.25em;
    font-family: 'Bellefair', serif;
    font-weight: 400;
    margin: 0.2em 0;
  }

  .mainContent p{
    text-align: left;
    font-family: 'Barlow', sans-serif;
    font-size: 1.2em;
    font-weight: 200;
    color:#D0D6F9;
    line-height: 1.7em;
    width: 95%;
  }

  .hr{
    text-align: center;
    height: 3px!important;
    margin:2em 0 0 0!important;
    width: 92%!important;
  }

  .contentFooter{
    display: flex;
    gap:5vw;
  }
  

  .distance h2{
    margin:0;
    white-space: nowrap;
    font-family: 'Bellefair', serif;
    letter-spacing: 0.08em;
  }

  .distance h3{
    font-size: 0.9em;
    color: #D0D6F9;
    font-family: 'Barlow Condensed', sans-serif !important;
    font-weight: 200;
    margin:2em 0 0.8em 0;
    letter-spacing: 0.3em;
  }
  
  .travelTime h2{
    margin:0;
    white-space: nowrap;
    font-family: 'Bellefair', serif;
    letter-spacing: 0.08em;
  }

  .travelTime h3{
    font-size: 0.9em;
    white-space: nowrap;
    color: #D0D6F9;
    font-family: 'Barlow Condensed', sans-serif !important;
    font-weight: 200;
    margin:2em 0 0.8em 0;
    letter-spacing: 0.3em;
  }