html, body{
  height: 100%;
  width: 100%;
  margin:0;
  padding: 0;
}

#__next{
  background-color: rgb(11, 13, 23);
  height: 100%;
  width: 100%;
}

.react-multi-carousel-dot-list .react-multi-carousel-dot button{
  background-color: #979797;
  opacity: 0.5;
  
}

.react-multi-carousel-dot-list .react-multi-carousel-dot--active button {
  background-color: #fff;
  opacity: 1;
}
.react-multi-carousel-item{
  visibility: hidden;
}
.react-multi-carousel-item--active{
  visibility: visible;
}
