@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@200;400;500;600&family=Barlow:wght@200;300;400&family=Bellefair&display=swap');

.wrapper{
    font-size: 16px;
    display: flex;
    flex-direction: column;
    color:white;
    align-items: center;
    height: 100vh;
    width: 100vw;
    background-image: url('../../public/img/background/technology/background.svg');
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
  }

  .wrapper h2{
    max-width: 1170px;
    font-size:  1.75em;
    font-weight: 200;
    width: 80%;
    margin: 3.5em 0 1.5em 0;
    font-family: 'Barlow Condensed', sans-serif;
    letter-spacing: 0.28em;
  }

  .wrapper h2 span{
    font-weight: 500;
    opacity: 0.2;
  }

  .body, .content{
    display: flex;
  }

  .content{
    width: 70%;
  }

  .content ul{
    font-size: 16px;
    display: flex;
    flex-direction: column;
    gap: 2.2em;;
    list-style: none;
    width: 60%;
  }

  .content ul li{
    font-family: 'Bellefair', serif;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2.25em;
    font-weight: 300;
    width: 2.25em;
    height: 2.25em;
    margin-left: 3.5em;
    border-radius: 100%;
    border: 1px solid rgba(235,235,235,0.5);
  }

 
